<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	
	<!-- 주소창에 /First 들어오면 First클래스를 찾아 co.micol.prj.First 동작실행 -->
	<servlet>
		<!-- 패키지명을 포함한 풀 네임 -->
		<servlet-name>First</servlet-name>
		<servlet-class>co.micol.prj.First</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>First</servlet-name>
		<!-- post 방식 -->
		<url-pattern>/First</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>